.list {
  width: 300px;
  margin: auto;
}
.item {
  border: 1px solid black;
  width: 320px;
  overflow: hidden;
  transform-origin: 50% 50% 0px;
  padding-left: 32px;
  background: white;
  max-height: 100%;
}
.dragHandle {
  cursor: move;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
